html,body{
    height: 100vh;
}
body{
    background: url(./assets/background-3883181_1920.jpg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
} */

.earth{
    perspective: 400vmin;
    transform-style: preserve-3d;
    width: min(80vmin, 320px);
    height: min(80vmin, 320px);
}
.earth::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url(./assets/earth-1179205_1920.png) repeat-x;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 3s infinite linear;
    box-shadow: -80px -15px 80px 10px rgba(0, 0, 0, 0) inset, -10px 0px 15px -7px rgb(65, 62, 62);
}
@keyframes rotate{
    0%{
        background-position: 0px 0px;
        transform: rotate(0deg) scale(1);
    }
    100%{
        background-position: 1200px 0px !important;
        transform: rotate(360deg) scale(1);
    }
}
